html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: #ffffff;
}

input, button {
  background: #333;
  border: 1px solid #414040;
  color: #e0e0e0;
  padding: 6px 8px;
  border-radius: 4px;
}

button:hover {
  background: #ffffff;
  color: #000;
  cursor: pointer;
}
